/* CarsComponent's private CSS styles */

button {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

#searchInput {
  width: 200px;
  height: 30px;
}
table {
  width: 80%;
}
